$main-font: 'Comfortaa', 'Helvetica', 'serif';

.trending-anime, .popular-anime  {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    overflow-wrap: break-word;
    img {
        max-width: 150px;
        max-height: 225px;
    }
    p {
        word-wrap: break-word;
        word-break: break-all;
        max-width: 150px;
    }
    
}

.anime-display {
    display: flex;
    flex-direction: column;
    gap: 50px;
    a:link {
        color:#8C325B;
        text-decoration: none;
    }
    a:hover {
        color: #008AD4;
        text-decoration: none;
    }
    a:visited{
        color: #8C325B;
        text-decoration: none;
    }

    a:hover, a:focus {
        color: #008AD4;
        text-decoration: none;
    }

    a:active {
        color: #008AD4;
        background-color: transparent;
        text-decoration: none;
    }

    
}

.popular, .trend{
    h2 {
        color: #8C325B;
    }
    .more {
        float:right;
    }
    padding: 50px;
    margin-left: 2%;
    margin-top: 1%;
    border: #8C325B solid;
    width:90%;
    background-color: #fff4fb;


    p {
        color: #8C325B;
        word-break: break-all;
    }
    .header {
        font-family: $main-font;
        font-weight: bold;
        font-size: larger;
    }
    a:link {
        color:#8C325B;
        text-decoration: none;
    }
    a:hover {
        color: #008AD4;
        text-decoration: none;
    }
    a:visited{
        color: #8C325B;
        text-decoration: none;
    }

    a:hover, a:focus {
        color: #008AD4;
        text-decoration: none;
    }

    a:active {
        color: #008AD4;
        background-color: transparent;
        text-decoration: none;
    }
}

