$main-font: 'Comfortaa', 'Helvetica', 'serif';
@mixin four-by-2-grid-display {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    img {
        max-width: 150px;
        max-height: 225px;
    }
    p {
        word-wrap: break-word;
        word-break: break-all;
        max-width: 150px;
        line-break: strict;
    }
}

.user-content{
    margin-top: 2%;
}


.anime-data {
    @include four-by-2-grid-display ;
    background-color: #FFF4FB;    
    border: 3px solid #8C325B;        
    padding: 100px;
    margin-top:10px;
    a:link {
        color:#8C325B;
        text-decoration: none;
    }
    a:hover {
        color: #008AD4;
        text-decoration: none;
    }
    a:visited{
        color: #8C325B;
        text-decoration: none;
    }

    a:hover, a:focus {
        color: #008AD4;
        text-decoration: none;
    }

    a:active {
        color: #008AD4;
        background-color: transparent;
        text-decoration: none;
    }
}

.anime-container {
    .profile-image {
        img {
            margin-top: -15%;
            margin-left: 20px;
            width: 20%;
        }
}

}

.contents {
    display:flex;
    .profile-content {
        width: 30%;
        .activity {
            .activity-button{
                width: 20vw;
            }
            
        }
        .anime-info {
            width: 20vw;
        }
    }

    .content {
        width: 70%;
        margin-left: -60px;
        
        .summary {
            display: flex;
            gap: 20px;
            flex-direction: column;

        }
        .anime-summary{
                a:link {
                    color:#8C325B;
                    text-decoration: none;
                }
                a:hover {
                    color: #008AD4;
                    text-decoration: none;
                }
                a:visited{
                    color: #8C325B;
                    text-decoration: none;
                }
        
                a:hover, a:focus {
                    color: #008AD4;
                    text-decoration: none;
                }
        
                a:active {
                    color: #008AD4;
                    text-decoration: none;
                }
    
            .ch-name {
                background-color: #8C325B;
                color: #FFF4FB;
                display: flex;
                flex-grow: 4;
                border: 3px solid #8C325B;
               
                p {
                    font-weight: bold;
                    font-size: 5ch;
                    margin-top: 250px;
                    margin-left: 20%;
                }
    
            }
            .character-summary{
                line-height: 32px; 
                white-space: pre-line;
    
    
            }
          
            background-color: #FFF4FB;
            color: #8C325B;
            padding:40px;
            border: #8C325B solid;
            .content-list {
                @include four-by-2-grid-display;
            }
    
            ul {
                list-style-type: none;
                li{
                    margin-top:1em;
                    margin-left:-2em;
                }
    
            }
            
        
        }
   
    .anime-character{
        background-color: #FFF4FB;

        float:center;

        color: #8C325B;
        padding:40px;
        border: #8C325B solid;
        .content-list {
            @include four-by-2-grid-display;
            a:link {
                color:#8C325B;
                text-decoration: none;
            }
            a:hover {
                color: #008AD4;
                text-decoration: none;
            }
            a:visited{
                color: #8C325B;
                text-decoration: none;
            }
    
            a:hover, a:focus {
                color: #008AD4;
                text-decoration: none;
            }
    
            a:active {
                color: #008AD4;
                text-decoration: none;
            }
        }

    }

    .anime-recommendation{
        a:link {
            color:#8C325B;
            text-decoration: none;
        }
        a:hover {
            color: #008AD4;
            text-decoration: none;
        }
        a:visited{
            color: #8C325B;
            text-decoration: none;
        }

        a:hover, a:focus {
            color: #008AD4;
            text-decoration: none;
        }

        a:active {
            color: #008AD4;
            background-color: transparent;
            text-decoration: none;
        }
        background-color: #FFF4FB;
        float:center;
 
        color: #8C325B;
        padding:40px;
        border: #8C325B solid;
        .content-list {
            @include four-by-2-grid-display;
        }

    }

    .anime-reviews{
        overflow: scroll;
        height: 785px;
        display:flex;
        flex-direction: column;
        row-gap: 1ch;
        button{
            float:center;
            font-family: $main-font;
            font-size: 1.0em;
            text-transform: uppercase;
            width:20%;
            padding: 20px;
            background-color: #8C325B;
            border: 0;
            color:#FFE4F5;
            height:60px;
        }
        .reviews{
            background-color: #FFE4F5;
            display:flex;
            flex-direction: column;
            border: #8C325B solid;
            height: 250px;
            .title{
                .score{
                    float: left;
                }
                .summary{
                    float: right;
                    width: 250px;
                    white-space: nowrap;
                    overflow: auto;
                    text-overflow: ellipsis;
                }
               
                border-bottom: #8C325B solid;
                padding: 10px;
                font-weight: bold;
            } 
            .body{
                line-height: 32px; 
                padding: 5px;
                overflow: scroll;
                height: 150px;


            }
        }
    }

    }
}

.anime-content{

    background-color: #ffb3db;
    margin-left: auto;
    margin-right: auto;
    float:center;
    margin-top: 10px;
    width:50%;
    padding: 100px;
    border: 1px #8C325B solid;
    .title{
      color: #8C325B;
      
    }
    @include four-by-2-grid-display;
}

.user-container {
    .anime-user-data{
        overflow-x:auto
    }
    .anime-table{
       
        img {
            height: 50%;
            width: 50%;
        }
        td, th {
            border: 1px solid #8C325B;
            padding: 8px;
            color: #8C325B;
            text-align:center;
          }
        tr:nth-child(even){background-color: #ffb3db}
        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: #8C325B;
            color: #FFF4FB;
          }
        tr {
            td {
                font-size: 2.4ch;
            }
        }
          width:100%;

    } 


    .search-anime {
        background-color: #ffb3db;
        padding: 50px;
        width: auto;
        
        margin-left: auto;
        margin-right: auto;
        margin-top: -2%;
        h2 {
            color: #8C325B;
            text-transform: uppercase;
        }
        input {
            background-color: #FFF4FB;
            color: #8C325B;
            border: 0;
            height: 30px;
            width: 100%;
            font-size: 20px;
            border: solid #8C325B;
            border-radius: 0.5ch;
        }

        button {
            background-color: #8C325B;
            color:#FFF4FB;
            border: 0;
            align-items:center;
            height: 30px;
            width: 100px;
            margin-left: 40%;
            margin-top: 10px;
            font-size: 1.0em;
            font-family: $main-font;
            text-transform: uppercase;
        }
    }

    .user-reviews{
        overflow: scroll;
        height: 785px;
        display:flex;
        flex-direction: column;
        row-gap: 1ch;
        background-color: #FFF4FB;
        color: #8C325B;
        padding:40px;
        border: #8C325B solid;
        a:link {
            color:#FFF4FB;
            text-decoration: none;
        }
        a:hover {
            color: #008AD4;
            text-decoration: underline;
        }
        a:visited{
            color: #FFF4FB;
            text-decoration: none;
        }

        a:active {
            color: #008AD4;
            background-color: transparent;
            text-decoration: none;
        }

        button{
            float:center;
            font-family: $main-font;
            font-size: 1.0em;
            text-transform: uppercase;
            width:20%;
            padding: 20px;
            background-color: #8C325B;
            border: 0;
            color:#FFE4F5;
            height:60px;
        }
       
        .user-review-info{
            display: flex;
            img {
                width:100%;
            }
       

            .tail {
                p {
                    padding:10px;
                    width: 200px;
                    text-align: center;
                    text-transform: uppercase;
                    word-break: break-word;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
    
                }
                margin-top: -4px;
                padding: 0.5%;
                background-color: #8C325B;
                color:#FFE4F5;
            }
            

        }
        .reviews{
            background-color: #FFE4F5;
            display:grid;
            border: #8C325B solid;
            grid-template-rows: 50px 100px;
            grid-row-gap: 1px;
            height: 98.3%;
            width: 100%;
            .title{
                .score{
                    float: left;
                    margin-top: 2px;
                }
                .summary{
                    float: right;
                    width: 250px;
                    white-space: nowrap;
                    overflow: auto;
                    text-overflow: ellipsis;
                    margin-top: -12px;
                }
               
                border-bottom: #8C325B solid;
                padding: 10px;
                font-weight: bold;
            } 
            .body{
                line-height: 32px; 
                padding: 20px;
                overflow: scroll;
                height: 30vh;
                


            }
           

        }

    }

}


.image-container {
    img {
        width: 100%;
        max-height: 500px;
    }
}


.activity{
    color:#8C325B;
    text-transform: uppercase;
    margin-left: 21px;
    .profile-button:disabled {
        background: #A7E5FF;
        color: #8C325B;
    }

    .profile-button {
        font-family: $main-font;
        text-transform: uppercase;
        background-color: #8C325B;
        color: #ffb3db;
        border: 0;
        width: 20%;
        height: 100%;
        font-size: 1.5rem;
        padding:10px;
    }
    .fav-buttons {
        display: flex;
        .save-button{
            margin-left: 6px;
        }
        .fav {
            width: 100%;
            padding:10px;
            margin-left: 0;
        }

    }
}

.anime-info {
    a:link {
        color:#8C325B;
        text-decoration: none;
    }
    a:hover {
        color: #008AD4;
        text-decoration: none;
    }
    a:visited{
        color: #8C325B;
        text-decoration: none;
    }

    a:hover, a:focus {
        color: #008AD4;
        text-decoration: none;
    }

    a:active {
        color: #008AD4;
        text-decoration: none;
    }
    margin-top: 10px;
    background-color: #FFF4FB;
    color: #8C325B;
    width: 18.5%;
    margin-left: 20px;
    padding: 10px;
    border: #8C325B solid;
    p, ul {
        margin: 10px;
    }
   
}

.user-navbar {
    .menu{
        display: none;
    }
     nav {
        background-color: #FFF4FB;
        text-transform: uppercase;
        width: 100%;
        height: 70px;
        padding: 0 10px;
        margin: auto;
        margin-top: -10px;
        font-size: 1.0rem;
        text-align: center;
        a {
            display: flex;
            float: right;
            align-items: center;
            margin-left:10px;
            margin-right: 12%;
            margin-top:30px;
        }
        a:link {
            color: #8C325B;
            text-decoration: none;
          }
        
        a:visited{
            color: #8C325B;
            text-decoration: none;
        }

        a:hover, a:focus {
            color: #008AD4;
            text-decoration: underline;
        }

        a:active {
            color: #008AD4;
            background-color: transparent;
            text-decoration: underline;
        }
    }
}

.anime-navbar {
    .menu{
        display: none;
    }
    nav {
        background-color: #FFF4FB;
        text-transform: uppercase;
        width: 98.5%;
        height: 70px;
        padding: 0 10px;
        margin: auto;
        margin-top: -10px;
        font-size: 1.0rem;
        text-align: center;
        a {
            display: flex;
            float: right;
            align-items: center;
            margin-left:10px;
            margin-right: 2%;
            margin-top:30px;
        }
        a:link {
            color: #8C325B;
            text-decoration: none;
          }
        
        a:visited{
            color: #8C325B;
            text-decoration: none;
        }

        a:hover, a:focus {
            color: #008AD4;
            text-decoration: underline;
        }

        a:active {
            color: #008AD4;
            background-color: transparent;
            text-decoration: underline;
        }
    }

}

.add-review {
    padding: 50px;
    background-color: #8C325B;
    max-width: 503px;
    margin: 5% auto 0 auto;
    height: 100%;
    p {
        letter-spacing: 1px; 
        font-weight: bold;
        text-align: center;
        font-size: 2.5em;
        text-transform: uppercase;
        color: #FFF4FB;
    }
    .review-input {
        display: grid;
        margin-top: 40px;
        margin-left: 90px;
        max-width: 335px;
        row-gap: 2ch;
        padding-bottom: 80px;
        input, select, option{
            color: #8C325B;
            width: 100%;
            height: 30px;
            text-align: center;
            background-color: #FFE4F5;
            border: 0;
            font-size: 2ch;
            font-family:$main-font;
        }

        textarea{
            width: 100%;
            color: #8C325B;
            max-width: 335px;
            text-align: center;
            background-color: #FFE4F5;
            border: 0;
            font-size: 2ch;
            font-family:$main-font;
        }

        button {
            text-transform: uppercase;
            height: 40px;
            border-radius: 2ch;
            font-size: 2ch;
            border: 0;
            background-color: #AE6DAB;
            color: #FFE4F5;
            font-family:$main-font;
            letter-spacing: 1px; 
        }
        
    }

}

@media screen and (min-width: 1px) and (max-width: 580px) {
    body{
        width:100%;
    }
    @mixin two-by-2-grid-display {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        img {
            max-width: 120px;
            max-height: 225px;
        }
        p {
            word-wrap: break-word;
            word-break: break-all;
            max-width: 110px;
            line-break: strict;
        }
    }

    
    .anime-container {
     
        .profile-image {
            img {
                margin-top: -15%;
                margin-left: 20px;
                width: 30%;
                height:160px;
            }
        
    }
    
    }

    .contents {
        display: inline;
        .profile-content{
            width: 100%;
            .anime-info{
                width:88%;
                margin-left: -1px;
                font-size: 0.8rem;
                height: 250px;
                padding: 20px;
                overflow: scroll;
            }

            h1{
                font-size: 1rem;
            }

            .activity{
                margin-left: 40%;
                margin-top: -18%;
                .profile-button:disabled {
                    background: #A7E5FF;
                    color: #8C325B;
                }
                .activity-button{
                    width: 90%;
                }
                .profile-button {
                    font-size: 0.8rem;
                }
            }
        }

        .content{
            position:relative;
            width:100%;
            top:60px;
            margin-left: 0px;
            font-size: 0.7rem;
            .anime-reviews{
                overflow: scroll;
                height: 785px;
                display:flex;
                flex-direction: column;
                row-gap: 1ch;
                button{
                  
                    width:100%;
                   
                }
                .reviews{
                    
                    .title{         
                        .summary{
                            float: left;
                          
                        }     
                    } 
                   
                }
            }
            .anime-summary {
                .rec {
                    img{
                        width: 100%;
                    }
                }
                .ch-name {
                  
                    color: #FFE4F5;
                    display: flex;
                    flex-direction: column;
                    p {
                        font-weight: bold;
                        font-size: 3ch;
                        margin-top: 20px;
                        margin-left: 15%;
                    }
        
                }
                .content-list{
                    @include two-by-2-grid-display

                }

            }
            .summary {
                .content-list{
                    @include two-by-2-grid-display

                }
             

            }
        }
    }

    .add-review {
        padding: 50px;
        background-color: #8C325B;
        max-width: 503px;
        margin: 0;
        height: 100%;
        p {
            letter-spacing: 1px; 
            font-weight: bold;
            text-align: center;
            font-size: 2.5em;
            text-transform: uppercase;
            color: #FFF4FB;
        }
        .review-input {
            max-width: 120px;
            row-gap: 2ch;
            padding-bottom: 80px;
            input, select, option, textarea, button{
                width: 200px;
                margin-left: -45%;
            
            }


            
        }

    }
    .mobile-navbar {
        ul{
            li {
                margin: 40px 0;
            }
            list-style-type:none;
            text-transform: uppercase;
            a:link {
                color:#8C325B;
                text-decoration: none;
            }
            a:hover {
                color: #008AD4;
                text-decoration: none;
            }
            a:visited{
                color: #8C325B;
                text-decoration: none;
            }
    
            a:hover, a:focus {
                color: #008AD4;
                text-decoration: none;
            }
    
            a:active {
                color: #008AD4;
                text-decoration: none;
            }
        }
    }
    .user-container {
        .content{
            margin-top: 28px;
            

        }

        .user-reviews{
            button{
                width:100%;  
            }
           
            .user-review-info{
                flex-direction: column;
                img {
                    width:90%;
    
                }
           
    
                .tail {
                    display: none;
                }
                
    
            }
            .reviews{
                height: 410px;
                .rev-title{
                    height:35px;
                }
                .title{
                    .score{
                        float: left;
                        margin-top: 2px;
                    }
                    .summary{
                        float: left;
                        width: 250px;
                        white-space: nowrap;
                        overflow: auto;
                        text-overflow: ellipsis;
                        margin-top: -12px;
                    }
                   
                
                } 
                .body{
                    height: 37vh;
                    margin-top: 10px;
                }
               
    
            }
    
        }
    
    }
   
    .anime-navbar, .user-navbar{
        padding: 5px;
        i {
            
            font-size: 2ch;
        }
        .menu {
            display: block;
            float: right;
            margin-right: 10px;
            button {
                background-color: transparent;
                color: #8C325B;
                border:none;
            }
      
           
        }
        nav {
            display:none;
        }
    }

    .anime-data {
        @include two-by-2-grid-display;
        background-color: #FFF4FB;    
        border: 3px solid #8C325B;        
        padding: 30px;
        margin-top:10px;
        p {
            font-size: 1.0ch;
        }
       
    }
    
    
  }


@media screen and (min-width: 581px) and (max-width: 800px) {
    body{
        width:100%;
    }
    @mixin two-by-2-grid-display {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        img {
            max-width: 120px;
            max-height: 225px;
        }
        p {
            word-wrap: break-word;
            word-break: break-all;
            max-width: 110px;
            line-break: strict;
        }
    }

    .anime-container {
        .profile-image {
            img {
                margin-top: -15%;
                margin-left: 20px;
                width: 30%;
            }
    }
    
    }
    .user-container {
        .content{
            margin-top: 70px;
        }
        .user-reviews{
            button{
                width:100%;  
            }
        }
    
    }
   

    .contents {
        display: inline;
        .profile-content{

            width: 100%;
            .anime-info{
                width:94%;
                margin-left: -1px;
                font-size: 0.8rem;
                height: 250px;
                padding: 20px;
                overflow: scroll;
            }

            h1{
                font-size: 1rem;
            }

            .activity{
                margin-left: 40%;
                margin-top: -15%;
                .profile-button:disabled {
                    background: #A7E5FF;
                    color: #8C325B;
                }
                .activity-button{
                    width: 90%;
                }
                .profile-button {
                    font-size: 0.8rem;
                }
            }
        }

        .content{
            position:relative;
            width:765px;
            top:120px;
            margin-left: 0;
            font-size: 0.7rem;
            .anime-reviews{
                overflow: scroll;
                height: 785px;
                display:flex;
                flex-direction: column;
                row-gap: 1ch;
                button{
                  
                    width:100%;
                   
                }
                .reviews{
                    
                    .title{         
                        .summary{
                            float: left;
                          
                        }     
                    } 
                   
                }
            }
            .anime-summary {
                .ch-name {
                    
                    color: #FFE4F5;
                    display: flex;
                    flex-direction: column;
                    height:100%;
                    width: 40%;
                    border: 3px solid #8C325B;
                    margin-left: 170px;

                   
                    p {
                        font-weight: bold;
                        font-size: 3ch;
                        margin-top: 20px;
                        margin-left: 15%;
                    }
        
                }
                .content-list{
                    @include two-by-2-grid-display

                }

            }
            .summary {
                .content-list{
                    @include two-by-2-grid-display

                }
             

            }
        }
    }

    .add-review {
        padding: 50px;
        background-color: #8C325B;
        max-width: 503px;
        margin: 0;
        height: 100%;
        p {
            letter-spacing: 1px; 
            font-weight: bold;
            text-align: center;
            font-size: 2.5em;
            text-transform: uppercase;
            color: #FFF4FB;
        }
    

    }
    .mobile-navbar {
        ul{
            li {
                margin: 40px 0;
            }
            list-style-type:none;
            text-transform: uppercase;
            a:link {
                color:#8C325B;
                text-decoration: none;
            }
            a:hover {
                color: #008AD4;
                text-decoration: none;
            }
            a:visited{
                color: #8C325B;
                text-decoration: none;
            }
    
            a:hover, a:focus {
                color: #008AD4;
                text-decoration: none;
            }
    
            a:active {
                color: #008AD4;
                text-decoration: none;
            }
        }
    }

    .anime-navbar, .user-navbar {
        .menu {
            padding: 10px;
            i {
                
                font-size: 3ch;
            }
            display: block;
            float: right;
            margin-right: 10px;
            button {
                background-color: transparent;
                color: #8C325B;
                border:none;
            }
      
           
        }
        nav {
            display:none;
        }
    }

    .anime-data {
        @include two-by-2-grid-display;
        background-color: #FFF4FB;    
        border: 3px solid #8C325B;        
        padding: 30px;
        margin-top:10px;
        p {
            font-size: 1.2ch;
        }
       
    }
    
    
    
  }
@media screen and (min-width: 550px) and (max-width: 1030px) {
    @mixin three-by-2-grid-display {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        img {
            max-width: 120px;
            max-height: 225px;
        }
        p {
            word-wrap: break-word;
            word-break: break-all;
            max-width: 110px;
            line-break: strict;
        }
    }

    
    .mobile-navbar {
        ul{
            li {
                margin: 40px 0;
            }
            list-style-type:none;
            text-transform: uppercase;
            a:link {
                color:#8C325B;
                text-decoration: none;
            }
            a:hover {
                color: #008AD4;
                text-decoration: none;
            }
            a:visited{
                color: #8C325B;
                text-decoration: none;
            }
    
            a:hover, a:focus {
                color: #008AD4;
                text-decoration: none;
            }
    
            a:active {
                color: #008AD4;
                text-decoration: none;
            }
        }
    }

    .anime-navbar {
        .menu {
            padding: 5px;
            i {
            
                font-size: 2.5ch;
            }

        }
        .menu {
         
            display: block;
            float: right;
            margin-right: 10px;
            button {
                background-color: transparent;
                color: #8C325B;
                border:none;
            }
      
           
        }
        nav {
            display:none;
        }
    }

    .anime-data {
        @include three-by-2-grid-display;
        background-color: #FFF4FB;    
        border: 3px solid #8C325B;        
        padding: 30px;
        margin-top:10px;
       
    }

    .user-container {
    

        .user-reviews{
            .reviews{
                width: 100%;                  
                .body{
                    height: 25vh;
                }
               
    
            }
    
        }
    
    }
   
    
   

    

    .contents {
       

        .content{
            margin-left: 1px;
            
            .anime-reviews{
                overflow: scroll;
                height: 785px;
                display:flex;
                flex-direction: column;
                row-gap: 1ch;
                button{
                  
                    width:100%;
                   
                }
                .reviews{
                    
                    .title{         
                        .summary{
                            float: left;
                          
                        }     
                    } 
                   
                }
            }
            .anime-summary {
                .ch-name {
                    color: #FFE4F5;
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    margin-left: 170px;

                   
                    p {
                        font-weight: bold;
                        font-size: 3ch;
                        margin-top: 20px;
                        margin-left: 15%;
                    }
        
                }
                .content-list{
                    @include three-by-2-grid-display

                }

            }
            .summary {
                .content-list{
                    @include three-by-2-grid-display

                }
             

            }
        }
    }

    
    
    
  }

  @media screen and (min-width: 400px) and (max-width: 700px) and (max-height: 600px)  {
    .user-container {
    

        .user-reviews{
            .reviews{
                .rev-title {
                    height: 40px;   
                }
                .title{  
                       
                    .summary{
                        float: left;                      
                    }     
                } 
                .body{
                    height: 70vh;
                    margin-top: 10px;
                }
               
    
            }
    
        }
    
    }
  }

  @media screen and (min-width: 700px) and (max-width: 900px) and (max-height: 600px)  {
    .user-container {
    

        .user-reviews{
            .reviews{
                .rev-title {
                    height: 40px;   
                }
                .title{  
                       
                    .summary{
                        float: right;                      
                    }     
                } 
                .body{
                    height: 60vh;
                    margin-top: 10px;
                }
               
    
            }
    
        }
    
    }
  }

  @media screen and (min-width: 1023px) and (max-width: 1380px) and (max-height: 900px)  {
    .user-container {
    

        .user-reviews{
            .reviews{
                .body{
                    height: 37vh;
                }
               
    
            }
    
        }
    
    }
  }


  @media screen and (min-width: 1023px) and (max-width: 1380px) and (min-height: 1000px)  and (max-height: 1200px)  {
    .user-container {
    

        .user-reviews{
            .reviews{
                .body{
                    height: 27vh;
                }
               
    
            }
    
        }
    
    }
  }
  @media screen and (min-width: 1023px) and (max-width: 1380px) and (min-height: 1200px) and (max-height: 1400px) {
    .user-container {
    

        .user-reviews{
            .reviews{
                .body{
                    height: 20vh;
                }
               
    
            }
    
        }
    
    }
  }

