$main-font: 'Comfortaa', 'Helvetica', 'serif';


.quick-search-bar {
   
    display:block;
    width:fit-content;
    margin:auto;
    a:link {
        color:#8C325B;
        text-decoration: none;
    }
    a:hover {
        color: #008AD4;
        text-decoration: underline;
    }
    a:visited{
        color: #8C325B;
        text-decoration: none;
    }

    a:active {
        color: #008AD4;
        background-color: transparent;
        text-decoration: none;
    }
    input {
        background-color: #FFF4FB;
        color: #8C325B;
        border:0;
        border: 1px #8C325B solid;
        height: 30px;;
        width: 500px;
        font-family: $main-font;
        border-radius: 1ch;
        font-size: 100%;
        text-align: center;
    }
    button {
        margin-left:-28px;
        background-color: transparent;
        color: #8C325B;
        height: 30px;;
        border:0;
        border-radius: 1ch;
    }
    
}
@media screen and (max-height: 900px) and (max-width: 500px) {
    .quick-search-bar {
        input {
            width:300px;
        }
        button {
            margin-left:-28px;
            background-color: transparent;
            color: #8C325B;
            height: 30px;;
            border:0;
            border-radius: 1ch;
        }
    }
    
}