@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&display=swap');
@import 'components/styles/navbar.scss';
@import 'components/styles/accounts_mgmt.scss';
@import 'components/styles/profile.scss';
@import 'components/styles/trendingpopular.scss';
@import 'components/styles/modal.scss';
@import 'components/styles/quick_search.scss';
@import 'components/styles/anime_activity.scss';


body {
  font-family:'Comfortaa', 'Helvetica', 'serif';
  background-color: #ffe4f5;
}

.welcome {
  img {
    width: 100%;
  }
}

